{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Products{% endblock title %}



{% block content %}

<div class="container">

  {% include 'include/navbar.html' with active_tab='main' %}

  <div class="card text-center" style="margin-top: 30px;margin-bottom: 30px;">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <button type="submit" class="btn btn-primary">Login</>
    </form>
  </div>

  </div>
</div>

{% endblock content %}