{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Products{% endblock title %}


{% block content %}

  <div class="container">

  {% include 'include/navbar.html' with active_tab='products' %}

   <div class="col-lg-3">
     <h1 class="my-4">Shop Name</h1>
       <a href="?order=likes" class="btn btn-primary">Sort by likes</a>
       <a href="?order=name" class="btn btn-primary">Sort by name</a>
   </div>


   <div class="col-lg-9" style="padding-top: 25px;">
          <div class="row">
            {% for product in object_list %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="{% url 'product:product_detail' slug=product.slug %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{% url 'product:product_detail' slug=product.slug %}">{{ product.name }}</a>
                  </h4>
                  <h5>${{ product.price }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer">
                  {{ product.likes_counter }} people like this product!
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- /.row -->
        </div>
<!-- /.col-lg-9 -->

  {% if is_paginated %}
    <nav aria-label="...">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
          <li class="page-item disabled">
          <a class="page-link" tabindex="-1">Previous</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active">
              <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
          {% else %}
          <li class="page-item disabled">
          <a class="page-link">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>

{% endif %}

  </div>

{% endblock content %}